

header {
  position: absolute;
  width: 100vw;
  height: 95px;
  top: 0;
  left: 0;
  background-color: #f1f2ed;
}

.header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container_wide {
  padding-right: 2.986vw;
  padding-left: 2.986vw;
}

.header-center {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  pointer-events: none;
}

.header_list, .header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_list_text {
  position: relative;
}

li {
  list-style: none;
}

